<%= form_with(model: @task, remote: true) do |form| %>

  <div class="form-group">
    <%= form.text_area :description, id: :task_description, placeholder: "¡Describe tu tarea!", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.datetime_select :deadline, id: :task_deadline, placeholder: "¿Para cuándo es?", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit(options={class: "btn btn-dark"}) %>
  </div>
<% end %>
