<p id="notice"><%= notice %></p>

<h2>Tareas</h2>
<ul>
    <div id="tasks">    
        <%= render @tasks %>
    </div>
</ul>

<br>

<%= link_to 'Nueva Tarea', new_task_path, remote: true %>

<br><br>

<div id="task-form" style="display:none;"></div>